<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="fr.android.egourdeau"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="egourdApp"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|screenSize">
        <activity
            android:name="fr.android.egourdeau.activities.LibraryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
